[Unit]
Description=Run hciattach when dbus becomes available
Before=bluetooth.service
After=dbus.service wifi-module-load.service

[Service]
Type=oneshot
ExecStart=/lib/systemd/system/scripts/hciattach.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
