[Unit]
Description=Load wifi module
DefaultDependencies=false
Conflicts=shutdown.target
After=dbus.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/sbin/modprobe mac80211
ExecStartPost=/bin/sleep 2
ExecStartPost=modprobe bes2600
ExecStartPost=/bin/sleep 4
ExecStartPost=/usr/sbin/rfkill unblock wifi
ExecStop=/sbin/modprobe -r bes2600
Restart=on-failure
RestartSec=2

[Install]
WantedBy=basic.target
